<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>获取验证码</title>
</head>
<script src="/static/js/jquery-1.11.1.min.js"></script>
<script src="/static/js/refresh_captcha.js"></script>
<body>
{{ data_form }}
<input id="flag" type="hidden" value="0">
<button id="btn">停止</button>
<button id="start">开始</button>
<script src="/static/js/postData.js"></script>
<script>
    $(function($){
        $("#btn").click(function(){
            $("#flag").val("1");
        });
        $("#start").click(function(){
            $("#flag").val("0");
            postData('{% url 'getData' %}',"{{ csrf_token }}");
        });
    })
</script>

</body>
</html>